<button type="button" class="btn btn-default btn-md btn-block text-left" data-toggle="modal" data-target="#modalCreateProject">
	<span class="glyphicon glyphicon-plus"></span>
	Новый проект
</button>