<div class="pinfo">
  <h4><small>Описание проекта</small></h4>
  <form class="login-form" method="POST">
    <div class="form-group">
      <textarea class="form-control" rows="5" id="description" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Сохранить</button>
  </form>
</div>