<!-- modals -->
	<!-- add new project -->
<div class="modal fade" id="modalCreateProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Введите название проекта</h4>
			</div>
			<div class="modal-body">
			  	<label for="nameProject">Название</label>
			  	<input type="text" class="form-control" id="NameOfNewProject">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				<button type="button" class="btn btn-primary" id="btnAddNewProject">Создать</button>
			</div>
		</div>
	</div>
</div> <!-- /add new project -->


<!-- /modals -->