<nav class="nav navbar-inverse" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ul class="nav navbar-nav navbar-left">
                    
                    {{#if user}}
                    <li><a href="/">Проекты</a></li>
                    <li><a href="/profile">Профиль</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Поддержка<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/userguide">Руководство пользователя</a></li>
                        <li><a href="/feedback">Обратная связь</a></li>
                      </ul>
                    </li>
                    {{/if}}
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#unless user}}
                        <li><a href="/signin">Вход</a></li>
                        <li><a href="/signup">Регистрация</a></li>
                    {{else}}
                        <li><a class="navbar-brand" href="/profile">{{user.firstName}} {{user.lastName}}</a></li>
                        <li><a href="/signout">Выход</a></li>
                    {{/unless}}
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</nav>