<nav class="nav navbar-inverse" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Главная</a>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/feed">Новости</a></li>
                    <li><a href="#">Обратная связь</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#unless user}}
                        <li><a href="/signin">Вход</a></li>
                        <li><a href="/signup">Регистрация</a></li>
                    {{else}}
                        {{> topUserMenu}}
                    {{/unless}}
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</nav>