<div class="nav-project">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation">
      <a href="/projects/tasks/{{project.id}}">Задачи</a>
    </li>
    <li role="presentation">
      <a href="/projects/info/{{project.id}}">Описание</a>
    </li>
    <li role="presentation">
      <a href="/projects/team/{{project.id}}">Команда</a>
    </li>
  </ul>  
</div>
