<div class="pteam">
  <h4><small>Список участников проекта</small></h4>
  <div class="wrapper">
    <button type="button" class="btn btn-default add_t">Пригласить</button>
    <button type="button" class="btn btn-danger del_t">Исключить</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Эл. почта</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Зубков</td>
        <td>Павел</td>
        <td>zubkov_p@mail.ru</td>
      </tr>
    </tbody>
  </table>
</div>