<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{title}}</title>
    {{!-- <link rel="stylesheet" href="/vendor/bower_components/jquery-ui/themes/base/jquery-ui.css"> --}}
    <link rel="stylesheet" href="/vendor/bower_components/jquery-ui/themes/base/datepicker-bootstrap-style.css">
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap-select/dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        {{> navigation}}
    </header>
    <main>
        {{> modals}}
        {{{body}}}
    </main>
    <footer>
        
    </footer>
    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/vendor/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>