<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked nav-project">
              <li><a href="#account">1. Учетные записи</a></li>
              <li><a href="#projects">2. Проекты</a></li>
              <li><a href="#tasks">3. Задачи</a></li>
              <li><a href="#feedback">4. Поддержка</a></li>
            </ul>
        </div>
        <div class="col-md-6 ">
            <h2>Руководство пользователя</h2>
            <hr></hr>
            <h3 id="account">1. Управление учетной записью</h3>
            <h2><small>1.1 Изменение данных пользователя</small></h2>
            <p>Для изменения данных пользователя, необходимо перейти в профиль - нажать кнопку "Профиль", на верхней навигационной панели. Затем нажать кнопку "Изменить", в профиле, далее изменить необходимые поля и сохранить результат, нажатием соответствующей кнопки</p>
            <p>После сохранения результатов, страница перезагрузиться и будут отображены новые данные.</p>
            <h2><small>1.2 Удаление учетной записи</small></h4>
            <p>Для удаление учетной записи, необходимо в профиле нажать ссылку "Удалить учетную запись", которая располжена внизу, под разделительной чертой. Ввести пароль в открывшееся окно.</p>
            <p>После ввода пароля и нажатия кнопки "Ок", учетная запись будет удалена, пользователь будет перенаправлен на страницу авторизации.</p>
            <h3 id="projects">2. Работа с проектами</h3>
            <p>На странице "Проекты" отображается список проектов, в которых участвует пользователь</p>
            <h2><small>2.1 Создание проекта</small></h2>
            <p>Для создание проекта, нужно нажать кнопку "Создать", в открывшемся окне ввести название проекта</p>
            <p>После ввода названия, страница перезагрузится и в таблице появится новый проект.</p>
            <h2><small>2.2 Копирование проекта</small></h2>
            <p>Для того что бы скопировать проект, необходимо нажать кнопку "Скопировать".</p>
            <p>После нажатия кнопки, страница перезагрузится и в таблице появится новая копия проекта.</p>
            <h2><small>2.3 Удаление проекта</small></h2>
            <p>Для того что бы удалить проект, нужно нажать на кнопку "Удалить" и ввести название проекта.</p>
            <p>После ввода названия, страница перезагрузится, а указанный проект будет удален</p>
            <h2><small>2.4 Изменение описания проекта</small></h2>
            <p>Нужно открыть страницу проекта и нажать кнопнку "Описание", на навигационной панели, которая расположена слева. Ввести в текстовое поле необходимы данные и нажать "Сохранить".</p>
            <p>После сохранения текст будет оставаться в текстовом поле</p>
            <h2><small>2.5 Приглашение пользователя в проект</small></h2>
            <p>Нужно перейти на страницу команды проекта. Нажать кнопку "Пригласить" и ввести адрес эл. почты пользователя</p>
            <p>Если пользователь зарегистрирован в системе, в его список проектов добавить этот проект.</p>
            <h2><small>2.6 Исключение пользователя из проекта</small></h2>
            <p>Нужно перейти на страницу команды проекта. Нажать кнопку "Исключить" и ввести адрес эл. почты пользователя</p>
            <p>У пользователя исчезнет проект из списка</p>
            <h3>3. Работа с задачами проекта</h3>
            <h2><small>3.1 Создание задачи</small></h2>
            <p>Для этого нужно нажать "Добавить" и ввести название задачи.</p>
            <p>Страница обновится и в конце списка появится новая задача.</p>
            <h2><small>3.2 Удаление задачи</small></h2>
            <p>Для этого нужно нажать "Удалить" и ввести название задачи.</p>
            <p>Страница перезагрузится и задача исключится из списка.</p>
            <h2><small>3.3 Копирование задачи</small></h2>
            <p>Для того что бы скопировать задачу, нужно нажать на кнопку с изображением папки, которая находится справа, в каждой строке списка задач.</p>
            <p>После нажатия, страница перезагрузится и копия задачи появится в списке.</p>
            <h2><small>3.4 Изменение названия задачи</small></h2>
            <p>Для изменения названия задачи, нужно нажать на кнопку с изображением карандаша, которая находиться справа, в каждой строке списка задач. Откроется модальное окно с параметрами задачи, в котором можно изменить название</p>
            <p>После нажатия "Сохранить", страница перезагрузится и задача будет сохранена.</p>
            <h2><small>3.5 Изменение положения задачи в списке</small></h2>
            <p>Для изменение положения задачи, нужно открыть модально окно редактирования задачи. В окне, в поле поле под названием "Порядковый номер", нужно указать новый номер задачи в списке и схоранить.</p>
            <p>После нажатия "Сохранить", страница перезагрузится и задача займет нужную позицию, остальные задачи сдвинутся на одну позицию вниз.</p>
            <h2><small>3.6 Редактирование описания задачи</small></h2>
            <p>Дли изменения описания задачи, нужно открыть модальное окно редактирования задачи. В поле "Описание" ввести необходимую информацию и сохранить результат. Описание можно увидеть только в этом окне.</p>
            <p>После сохранения страница перезагрузится и описание будет сохранено.</p>
            <h2><small>3.7 Назначение исполнителей задачи</small></h2>
            <p>Для назначения исполнителей, необходимо открыть модальное окно редактирования задачи. В поле "Подотчетные", указать инициалы исполнителя. Если исполнителей больше одного указать инициалы через запятую.</p>
            <p>После сохранение, страница перезагрузиться и исполнители будут отображаться в списке задачи.</p>
            <h2><small>3.8 Изменение состояния задачи</small></h2>
            <p>Для изменения состояния задачи, необходимо открыть модальное окно редактирования задачи. В выпадающем поле "Состояние" выбрать необходимый пункт. Состояние "Выполнено" указывает исполнитель после завершения. Состояние "Завершено" указывает проверяющий(преподаватель) после проверки результатов выполнения задачи.</p>
            <p>После сохранения, страница перезагрузится и новое состояние будет сохранено.</p>
            <h3>4 Поддержка</h3>
            <h2><small>4.1 Руководство пользователя</small></h2>
            <p>Для открытия руководства пользователя, необходимо выбрать "Руководство пользователя" в выподающем списке "Поддержка", который расположен в верхнем навигационном меню.</p>
            <p>Будет открыта страница с руководством пользователя.</p>
            <h2><small>4.2 Обратная связь</small></h2>
            <p>Для осуществления обратной связи, необходимо выбрать "Обратная связь" в выподающем списке "Поддержка", который расположен в верхнем навигационном меню. На окткрывшейся странице заполнить поля "Тема" и "Сообщение", после нажать кнопку "Отправить".</p>
            <p>Сообщение отправится администратору.</p>
            
            
            
            
            
        
        
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
    </div>
</div>