.profile .header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile .mega-initials {
	margin: 0;
	padding: 10px 13px;
	display: inline-block;
	/*background-color: #337ab7;*/
	border: 1px;
	border-color: #337ab7;
	border-radius: 3px;
	color: rgb(240, 240, 240);
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 50px;
}

.profile .name {
  font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 40px;
	margin-top: 15px;
}

.profile .form-group label {
  font-size: 18px;
}

.profile .form-group .props {
  font-size: 18px;
}

.profile .form-group {
  margin-bottom: 3px;
}

.profile hr {
  margin-bottom: 0;
}

.profile .delete-account {
  padding-top: 0;
}

.profile .col-md-9 {
	padding-left: 5px;
}

.profile .op {
	margin-bottom: 3px;
}

.nav-project {
	margin-top: 20px;
}

.project-header {
	margin-top: 20px;
}

.th_name {
	width: 180px;
}

.mini-initials {
	margin: 0;
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 0px 3px;
	display: inline-block;
	background-color: #337ab7;
	border: 1px;
	border-color: #337ab7;
	border-radius: 3px;
	color: rgb(255, 255, 255);
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
}