<h1>Мои проекты</h1>
<p class="text-left text-muted" id="textOfEmpty">Список проектов пуст.</p>
<table class="table hidden" id="listOfProjects">
	<thead>
		<tr>
			<th class="col-number">#</th>
			<th class="col-name-project">Название проекта</th>
			<th class="col-progress">Прогресс</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
